@use './vars' as *;
@forward '../../node_modules/include-media/dist/include-media';

@mixin link {
  color: $color-1;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:active {
    color: $green;
  }
}

@mixin header {
  margin: 0;
}
