$background-1: #1e1e28; // был rgba(30, 30, 40, 0.95)
$background-2: #262631; // был rgba(40, 40, 50, 0.9)
$background-3: #3d3d4d; // был rgba(25, 25, 35, 0.6)
$color-1: #ffffff; // без изменений
$color-2: #e0e0e0; // без изменений
$color-3: #888888; // без изменений
$border-color: #31313f; // был rgba(255, 255, 255, 0.08)

$blue: #667eea;
$red: #eb445b;
$green: #30ad7d;

$font-family: Onest, Arial, sans-serif;

$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;

$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-250: 250px;
