$background-1: #101114;
$background-2: #181a1e;
$color-1: #e9eae2;
$color-2: #97979f;
$border-color: #2d3038;

$blue: #009dca;
$red: #eb445b;
$green: #30ad7d;

$font-family: Onest, Arial, sans-serif;

$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;

$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-250: 250px;
