@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.alert {
  position: fixed;
  right: 10px;
  top: 65px;
  padding: 10px 16px;
  border-radius: $border-radius-8;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition:
    transform 0.1s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    opacity 0.1s ease-out;
  transform: translateX(0);
  opacity: 1;

  &.hidden {
    transform: translateX(140%);
    opacity: 1;
  }

  &.red {
    color: $red;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }
}

.icon {
  flex-shrink: 0;
  margin-top: 2px;
}

.content {
  flex: 1;
}
