@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

.more {
  margin-top: 10px;
}

.filters {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid $border-color;
  background-color: $background-1;
}

.selects {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
}

.searchContainer {
  display: flex;
  align-items: center;
  color: $color-3;
  padding: 0 10px;
  border-radius: $border-radius-8;
  background-color: $background-2;
  border: 1px solid $border-color;
}

.searchInput {
  padding: 8px 12px;
  border-radius: $border-radius-8;
  border: none;
  background: none;
  font-size: 14px;
  min-width: 300px;
  color: $color-1;
  font-size: 15px;
  font-family: $font-family;

  &:focus {
    outline: none;
    border-color: $blue;
  }
}
