@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.FormWrapper {
  &.type-small {
    width: 280px;
  }

  &.type-big {
    width: 420px;
  }
}
